*{padding: 0; margin: 0; list-style: none; font-family: 'Noto Sans KR', sans-serif;}
body{overflow-x: hidden;}
header{width: 100%; position: absolute; left: 0; top: 0; z-index: 99999;}
#header1{width: 100%; height: 46px; border-bottom: 1px solid #e1e1e1; background-color: #f8f8f8;}
#header2{width: 100%; height: 99px; border-bottom: 1px solid #e1e1e1; background-color: #fff;}
#header1_box{width: 1410px; height: 100%; margin: auto; }
#header1_left_menu{height: 46px; float: left;  line-height: 46px;}
#header1_left_menu>li{float: left; font-size: 14px; letter-spacing: -1.5px; padding-right: 15px; margin-right: 15px; background: url(icons/header_gnb_border.jpg) right center no-repeat; color: #555; cursor: pointer;}
#header1_left_menu>li:last-child{background: none;}
#header1_left_menu>li>img{vertical-align: middle; margin: 3px 6px 0 0; cursor: pointer;}
#header1_right_menu{height: 46px; float: right;}
#header1_right_menu>li{float: left; line-height: 46px; font-size: 14px; margin-left: 10px; color: #555; cursor: pointer;}
#header1_right_menu>li>img{vertical-align: middle; margin-top: -5px;}
#header1_right_menu>li:nth-child(1){background: url(icons/header_gnb_border2.jpg) right center no-repeat; padding-right: 10px;}
#header1_right_menu>li:nth-child(3){background: url(icons/header_gnb_border2.jpg) right center no-repeat; padding-right: 10px; margin-left: 25px;}
#header2_box{width: 1410px; height: 72px; margin: auto;}
.fw900{font-weight: 700;}
#logo{height: 72px; margin-top: 13px; float: left; cursor: pointer;}
#header2_icon_menu{height: 72px; float: right; margin-top: 20px;}
#header2_icon_menu>li{display: inline-block; vertical-align: bottom; margin-left: 15px; text-align: center; color: #550adf; cursor: pointer;}
#header2_icon_menu>li>h4{font-weight: 300;}
#header2_menu{width: 800px; height: 99px; line-height: 99px; text-align: center; float: left; margin-left: 100px; font-size: 0;}
#header2_menu>li{display: inline-block; font-size: 18px; font-weight: 700; padding: 0 30px; cursor: pointer; margin-right: 0px;}
#header2_menu>#sub_bg{position: absolute; background-color: #fff; top: 146px; left: 0; width: 100%; height: 335px; z-index: 999; display: none; overflow: hidden;}
.sub_wrap{width: 100%; height: 335px; background-color: #fff; position: absolute; left: 0; top: 0; z-index: 999; opacity: 1; line-height: 20px; border-top: 1px solid #550adf; }
.sub_box{width: 1410px; height: 100%; margin: auto;}
.sub_box1{width: 240px; height: 335px; float: left; background-color: #fff; text-align: left; padding-left: 10px; box-sizing: border-box; border-right:  1px solid #ccc;}
.sub_box1>img{margin-top: 42px;}
.sub_box1>h3{font-size: 16px; color: #aaa; letter-spacing: -1px; margin-top: 25px;}
.sub_box1>h4{margin-top: 10px; font-weight: 400;}
.sub_box1>h5{font-size: 18px; margin-top: 3px;}
.sub_box1>h6{font-size: 20px; margin-top: 30px;} 
.sub_box2{width: 250px; height: 335px; float: left; background-color: #fff; text-align: left; padding: 20px 50px; box-sizing: border-box; }
.sub_box2>ul>li{line-height: 30px; padding: 12px; border-bottom: 1px solid #ccc;}
.sub_box2>ul>li:last-child{line-height: 24px;}
.sub_box3{width: 465px; height: 335px; float: right; background: url(icons/gnb_openDiv_bg.jpg); position: relative;  padding-left: 230px; box-sizing: border-box; text-align: left; color: #fff;}
.sub_box3>h3{margin-top: 30px; line-height: 30px;}
.sub_box3>h3>span{color: rgb(255, 156, 98);}
.sub_box3>ul{margin-top: 10px;}
.sub_box3>ul>li{font-size: 14px;}
.sub_box3_arrow{margin-top: 40px;}
.sub_box3_mobile{position: absolute; bottom: 0; right: 0;}
#slide{width: 100%; overflow: hidden; background-size: cover;  cursor: pointer; margin-top: 146px;}
#slide_wrap{width: 100%; height: 30vw; position: relative;}
#slide_imgbox{width: 800%; overflow: hidden; position: absolute;}
#slide_imgbox>li{width: 12.5%;float: left;}
#slide_imgbox>li>img{width: 100%; vertical-align: top;}
#slide_prebtn{position: absolute; top: 0; bottom: 0; left: 20px; margin: auto;}
#slide_nextbtn{position: absolute; top: 0; bottom: 0; right: 20px; margin: auto;}
#slide_btn{width: 230px; height: 40px; position: absolute; bottom: 30px; left: 0; right: 0; margin: auto; background-color: rgba(0, 0, 0, 0.65);  border-radius: 50px;}
#slide_btn>ul{width: 190px; height: 40px; float: left; text-align: center; line-height: 40px; }
#slide_btn>ul>li{display: inline-block; opacity: 0.3; cursor: pointer; margin-left: 5px;}
#slide_btn>ul>li:first-child{opacity: 1;}
#slide_pause{width: 40px; height: 40px; float: right; border-radius: 40px; cursor: pointer;}
#operating_box{width: 100%; height: 900px; overflow: hidden;}
#operating_time{width: 1170px; height: 80px; line-height: 80px; margin: auto; text-align: center; border-bottom: 1px solid #e1e1e1; margin-top: 100px; opacity: 0;}
#operating_time>img{ width: 40px;vertical-align: middle; margin-top: -5px; margin-right: 20px; cursor: pointer;}
#operating_time>h3{display: inline-block;  font-size: 20px; font-weight: 900; margin-right: 50px; letter-spacing: -2px; cursor: pointer;}
#operating_time>h4{display: inline-block;  font-size: 20px;font-weight: 900; cursor: pointer;}
#event{width: 100%; text-align: center; }
#event_box{margin-top: 130px;}
#event_box>h2{font-size: 38px; margin-top: 40px; font-weight: 300; opacity: 0;}
#event_box>h2>span{font-size: 40px;}
#event_box>h4{margin-top: 40px; font-size: 17px; font-weight: 300; color: #666; opacity: 0;}
#event_list{width: 1204px; height: 352px;  margin: auto; margin-top: 80px; opacity: 0;}
#event_list>li{width: 300px; height: 350px; border: 1px solid #e1e1e1; float: left; padding: 30px; box-sizing: border-box; text-align: left;  white-space: nowrap; text-overflow: ellipsis; transition: 0.3s; cursor: pointer; position: relative;}
#event_list>li:not(:first-child){border-left: none;}
#event_list>li>h5{font-size: 20px; margin-top: 15px; color: #550adf; font-weight: 300;}
#event_list>li>h3{font-size: 22px; margin-top: 15px;}
#event_list>li>img{width: 100%;}
.hover_effect1{width: 300px; height: 350px; border: 2px solid #550adf; box-sizing: border-box; position: absolute; left: 0; top: 0; box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2); opacity: 0; transition: 0.4s;}
#event_list>li:hover>.hover_effect1{color: #550adf; opacity: 1; }
#event_list>li:hover{color: #550adf;}
#event_btn{width: 224px; height: 56px; margin-top: 70px; border-radius: 200px; line-height: 56px; background-color: #550adf; color: #fff; font-size: 18px; font-weight: 300; word-spacing: -1px; border: none; cursor: pointer; opacity: 0;}
#information{width: 100%; height: 1070px; background: url(images/mainCon2_bg_20220103.jpg) center 0 no-repeat; background-size: cover;  margin-top: 100px; text-align: center; overflow: hidden;}
#information_box{width: 100%; height: 1070px; margin-top: 100px; color: #fff; font-size: 20px; font-weight: 100; position: relative;}
.information_draggable_box{width: 4700px; height: 372px;  position: absolute; top: 150px; left: 50%; margin-left: -2350px; }
#information_box>h2{font-weight: 300; font-size: 40px; opacity: 0; margin-top: 170px;}
#information_box>h5{font-weight: 300; font-size: 18px; margin-top: 100px; opacity: 0;}
#information_ul{width: 3278px; height: 372px; position: absolute; top: 30px; left: 14.79%;  opacity: 0;}
#information_ul>li{width: 276px; height: 350px; float: left; margin: 11px; position: relative; transition: 0.3s;}
#information_ul>li:nth-child(8){text-align: left;}
#information_ul>li:hover{font-weight: 900; box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); cursor: pointer;}
#information_ul>li:hover  .gradiant_box>h4{font-weight: 700; opacity: 1;}
.gradiant_box{width: 276px; height: 350px; position: absolute; left: 0; top: 0; background:linear-gradient(transparent, black); opacity: 0.8;}
.gradiant_box>h4{position: absolute; left: 20px; bottom: 20px; font-weight: 400;}
#line_box{width: 146px; height: 30px; margin: auto; margin-top: 600px; opacity: 0; position: relative;  }
#line{width: 146px; height: 6px; background-color: #fff;  position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto; border-radius: 100px;}
#line_box_btn{position: absolute; width: 100%; height: 100%; z-index: 999; top: 0; bottom: 0; right: 0; left: 0; margin: auto;}
#line_box_btn>img{position: absolute; left: 35%; top: 0; margin-left: 0px;}
#information_drag{margin-top: 80px; opacity: 0;}
#information_drag>button{width: 224px; height: 56px; border-radius: 300px; border: none; margin-left: 20px; border: 1px solid #fff;}
#information_bt1{color: #550adf; font-size: 18px; cursor: pointer; background-color: #fff;}
#information_bt2{background-color: transparent; color: #fff; font-size: 18px; cursor: pointer;}
#attraction{width: 100%; height: 1280px; background: url(images/mainCon3_bg.jpg) center 0 no-repeat; background-size: cover; position: relative;}
#fun_box{width: 1170px; height: 1028px; top: 0; bottom: 0; left: 0; right: 0; margin: auto; position: absolute; text-align: center;}
#fun_box>h2{margin-top: 70px; opacity: 0; font-size: 40px; font-weight: 400;}
#attraction_bt{margin-top: 70px; opacity: 0;}
#attraction_bt>button{border: 1px solid #aaa; padding: 10px 15px; font-size: 16px; font-weight: 700; margin: 0 5px; margin-top: 30px; margin-bottom: 10px; border-radius: 40px; color: #666; background: none; cursor: pointer;}
#attraction_bt>button:first-child{color: #550adf; border: 1px solid #550adf;}
#attraction_box{opacity: 0; margin-top: 70px;}
#attraction_box>h2{font-size: 40px; font-weight: 300;}
#attraction_box>ul{margin-top: 20px;}
#attraction_box>ul>li{width: 23.5%; height: 350px;  background-color: #fff; float: left; margin: 10px 0; margin-right: 2%; text-align: left; transition-property: box-shadow;
transition-duration: 0.3s; cursor: pointer;}
.fun_p_box{padding: 15px 30px;}
.fun_p_box>h3{font-size: 24px;}
.fun_p_box>h5{font-weight: 300; margin-top: 5px;}
#attraction_box>ul{overflow: hidden;}
#attraction_box>ul>li>img{width: 100%;}
#attraction_box>ul>li:hover{background-color: #550adf; color: #fff; box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);}
#attraction_box>ul>li:nth-child(3n){margin-right: 0% !important;}
#attraction_box>ul>li:first-child{width: 49%;}
#attraction_box ul>li:last-child{width: 49%;}
#attraction_box2{display: none;}
#attraction_box3{display: none;}
#fun_btn_box2{position: absolute; left: 0; right: 0; bottom: 0; margin: auto;}
#fun_btn_box2>button{border: 1px solid #550adf; color: #550adf; padding: 15px 30px; font-size: 18px; font-weight: 400; border-radius: 40px; background: none; cursor: pointer;}
#fun_btn_box2>button:first-child{background-color: #550adf; color: #fff; margin-right: 10px;}
#special{width: 100%; height: 1200px; border-bottom: 1px solid #eee; overflow: hidden; position: relative;}
#special_box{height: 1200px; width: 1170px; margin: auto; text-align: center;overflow: hidden;}
#special_top_btn{position: absolute; bottom: 0;right: 3%; cursor: pointer;}
#special_box>h2{margin-top: 170px; font-size: 40px; line-height: 50px; font-weight: 400; opacity: 0;}
#special_box>h5{margin-top: 70px; color: #666; font-size: 18px; font-weight: 400; opacity: 0;}
#special_line{width: 100%; height: 1px; background-color: #ccc; margin-top: 90px; opacity: 0;}
#special_ul_box{width: 100%; overflow: hidden; opacity: 0; margin-top: 50px;}
#special_ul_box>h5{font-size: 20px; text-align: left; margin-top: 30px;}
#special_ul_box>ul{margin-top: 30px;}
#special_ul_box>ul>li{float: left; width: 23.5%; margin-right: 2%; text-align: left; transition: 0.3s; position: relative; cursor: pointer;}
#special_ul_box>ul>li>h5{font-size: 20px; font-weight: 300; line-height: 50px; transition: 0.3s;}
.special_shadow_box{position: absolute; left: 0; top: 0; width: 100%; height: 275px; box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); opacity: 0; transition: 0.3s;}
#special_ul_box>ul>li:hover>h5{color: #550adf;  font-weight: 700;}
#special_ul_box>ul>li:hover  .special_shadow_box{opacity: 1;}
#special_ul_box>ul>li:last-child{margin-right: 0;}
#special_ul_box>ul>li>img{width: 100%;}
#special_news_box{width: 100%; overflow: hidden; margin-top: 100px; opacity: 0;}
#special_news{width: 49%; border: 1px solid #aaa; overflow: hidden; text-align: left; padding: 40px 30px; box-sizing: border-box; font-size: 18px; font-weight: 300; line-height: 32px; float: left;}
#special_news>ul:last-child{float: right; font-size: 16px;}
#special_news>ul>li{cursor: pointer;}
.special_underline:hover{text-decoration: underline; cursor: pointer;}
#special_news>ul:last-child>li:first-child{font-size: 14px; font-weight: 400;}
#special_news>ul{display: inline-block;}
#special_news>ul:first-child>li:first-child{cursor: auto;}
#special_news>ul>li:first-child{font-size: 24px; font-weight: 700; margin-bottom: 15px;}
#special_news>ul>li:first-child>img{vertical-align: middle;margin-left: 10px;}
#special_img_box{width: 49%; float: right; cursor: pointer;}
#special_img_box>img{width: 100%;}
footer{width: 100%; height: 390px; overflow: hidden;}
#footer_box{width: 1170px; height: 100%;  margin: auto; text-align: center;}
#footer_top{width: 100%; height: 118px;border-bottom: 1px solid #eee;}
#footer_top_left>li{float: left; margin-right: 15px; font-size: 16px; color: #666; line-height: 130px; cursor: pointer;}
#footer_top_left>li:nth-child(4){color: red;}
#footer_top_left>li:last-child{margin-right: 0;}
#footer_top_right{float: right;}
#footer_top_right>li{float: left; line-height: 130px; margin-left: 10px; cursor: pointer;}
#footer_top_right>li:first-child{margin-left: 0;}
#footer_top_right>li>img{vertical-align: middle;}
#footer_bottom{width: 1170px; height: 100%; position: relative; }
#footer_bottom_left{float: left; margin-top: 30px;}
#footer_bottom_right{float: right; margin-top: 20px;}
#footer_bottom_right>select{padding: 15px 60px 15px 15px; float: right; border: 1px solid #aaa; }
#lotte_on{margin-top: 80px; cursor: pointer;}
#footer_center{width: 540px; height: 184px; position: absolute; bottom: 0; top: 7%; left: 12%; right: 0;  text-align-last: left; overflow: hidden;}
#footer_center>h5{margin-top: 0px; font-size: 14px; font-weight: 300; line-height: 25px;}
#footer_center>h5>img{vertical-align: middle; margin: 5px;}
#footer_center>p{font-size: 12px; font-weight: 300; margin-top: 20px;}
#footer_img_box{margin-top: 25px; float: left; cursor: pointer;}
#footer_img_box>ul>li{float: left; margin-right: 15px;}
#footer_img_box>ul>li>p{font-size: 12px; font-weight: 300; float: right; line-height: 20px;}
#footer_img_box>ul>li:last-child>p{line-height: 40px;}
#footer_img_box>ul>li>p>img{ vertical-align: middle; cursor: pointer;}
#top_btn{width: 70px; height: 70px; position: fixed; z-index: 999; bottom: 5%; right: 3%; font-size: 12px; font-weight: 900; color: #fff; border-radius: 100px; box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5); cursor: pointer; overflow: hidden;}
#top_btn>h2{position: absolute; right: 0; left: 0; bottom: 0; top: 0; margin: auto; line-height: 70px; text-align: center;}
#top_btn>img{width: 100%;}
#popup{position: absolute; left: 56px ; top: 176px; width: 492px; height: 278px; border: 4px solid #7333ee; text-align: center; background-color: #fff; word-spacing: -3px; transition: 0.3s; display: none;}
#popup>h2{margin-top: 55px; font-size: 28px; ;}
#popup>h3{margin-top: 10px; font-weight: 300; font-size: 18px;}
#popup>h3>span{font-weight: 700; margin-right: 5px;}
#popup>button{width: 280px; height: 50px; font-size: 24px; font-weight: 700; border: none; border-radius: 300px; margin-top: 35px; background-color: #7333ee;color: #fff; word-spacing: -2px; line-height: 50px;}
#popup_text{position: absolute; left: 10px; bottom: 10px; color: #666; font-weight: 100; word-spacing: -2px;}
#popup_text>input{width: 20px; height: 20px; margin-top: 2px; vertical-align: top; margin-right: 5px;}
/* #popup_checkbox{position: absolute; width: 18px; height: 18px; border: 1px solid #ccc; border-radius: 2px; background-color: #eee;} */
#popup>img{position: absolute; top: 10px; right: 10px; vertical-align: top; width: 24px; cursor: pointer;}
#sc{font-size: 100px; position: fixed; z-index: 99999999; background-color: red; color: #fff; left: 0; top: 0;}
#box-x{font-size: 100px; position: fixed; z-index: 99999999; background-color: red; color: #fff; left: 0; top: 200px;}
#box-x2{font-size: 100px; position: fixed; z-index: 99999999; background-color: red; color: #fff; left: 0; top: 400px;}
.sc{background-color: #fff; color: #000; width: 100px; height: 100px; position: fixed; left: 0; top: 0; z-index: 999; margin-top: 200px;}